<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.76.0.0" targetFramework="native" />
  <package id="boost_serialization-vc142" version="1.76.0.0" targetFramework="native" />
  <package id="Eigen3" version="3.3.9" targetFramework="native" />
  <package id="FLANN" version="1.9.1" targetFramework="native" />
  <package id="hive-common" version="0.3.8" targetFramework="native" />
  <package id="hive-common.redist" version="0.3.8" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.1.1.133" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.1.1.133" targetFramework="native" />
  <package id="OpenNI2" version="2.2.0" targetFramework="native" />
  <package id="PCL" version="1.11.1" targetFramework="native" />
  <package id="Qhull" version="8.0.0" targetFramework="native" />
  <package id="VTK" version="8.2.1" targetFramework="native" />
  <package id="VTK.redist" version="8.2.1" targetFramework="native" />
</packages>