<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.74.0.0" targetFramework="native" />
  <package id="boost_serialization-vc141" version="1.74.0.0" targetFramework="native" />
  <package id="boost_serialization-vc142" version="1.74.0.0" targetFramework="native" />
  <package id="hive-common" version="0.3.8" targetFramework="native" />
  <package id="hive-common.redist" version="0.3.8" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.1.1.133" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.1.1.133" targetFramework="native" />
</packages>