<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.76.0.0" targetFramework="native" />
  <package id="boost_date_time-vc142" version="1.76.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc142" version="1.76.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc142" version="1.76.0.0" targetFramework="native" />
  <package id="boost_serialization-vc142" version="1.76.0.0" targetFramework="native" />
  <package id="Eigen3" version="3.3.9" targetFramework="native" />
  <package id="FLANN" version="1.9.1" targetFramework="native" />
  <package id="hive-common" version="0.3.9" targetFramework="native" />
  <package id="hive-common.redist" version="0.3.9" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.2.0.371" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.2.0.371" targetFramework="native" />
</packages>